* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    color: white;
    font: 20px sans-serif;
}

div {
    margin: 10px;
}

#container {
    /* max-width: 600px;
    margin: 0 auto; */
    background-color: black;
    border: 2px red solid;
}

#container > div { /* versus #container div, which is inherited by all divs, ie. grandchildren */
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    gap: 10px;

}
/* SCREEN */
#screen {
    background-color: black;
    padding: 20px 10px 10px;
    text-align: end;
}
/* BUTTONS */

.row div {
    width: 40px; /* to make btn shape uniform */
    flex: 1;
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    text-align: center;
}

#first-row {
    margin-top: 0;
}

.number-btn {
    background-color: grey;
}

.operator-btn {
    background-color: orange;
}

#ac-btn, #plus-minus-btn, #percent-btn {
    background-color: lightgray;
    color: black;
}

#zero-btn { 
    flex: 3.5; /* tweaked to improve buttons alignment */
    /* margin-right: auto; */
}


