* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    color: white;
    font: 20px sans-serif;
    margin-top: 130px;
}

div {
    margin: 10px;
}

#container {
    background-color: black;
    border: 2px red solid;
    max-width: 250px; /* container won't get bigger than this if you keep adding numbers to the screen  */
}

#container > div { /* versus #container div, which is inherited by all divs, ie. grandchildren */
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    gap: 10px;

}
/* SCREEN */
#screen {
    background-color: black;
    padding: 40px 15px 10px 10px; 
    text-align: end;
    font-size: 60px;
    height: 119px; /* prevents div collapse */
}
/* BUTTONS */

.row div {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#first-row {
    margin-top: 0;
}

.number-btn {
    background-color: grey;
}

.operator-btn, #equality-btn {
    background-color: orange;
}

#ac-btn, #plus-minus-btn, #percent-btn {
    background-color: lightgray;
    color: black;
}

#plus-minus-btn {
    padding-left: 12px;
}

#zero-btn { 
    flex: 3; /* tweak to improve buttons alignment */
    padding-left: 20px;
    display: flex;
    justify-content: left;
    /* margin-right: auto; */
}


